/**
 * styles/styles.css
 * 
 * This CSS file is used to override or customize any styling
 * not provided by Twitter Bootstrap.
 * 
 * Author: Kenny Carlile (KCarlile.com)
 * Source: https://github.com/KCarlile/soundboard
 */

#buttons {
    width: 56em;
}

.btn {
    height: 12em;
    margin-right: 2em;
    margin-bottom: 2em;
    width: 12em;
}

.soundName {
    font-size: 1.2em;
}

.soundSource {
    display: block;
    font-size: .8em;
}
